---
import { getCollection } from "astro:content";
import Layout from "../../../layouts/Layout.astro";
import Breadcrumb from "../../../components/Breadcrumb.astro";
import BreadcrumbItem from "../../../components/BreadcrumbItem.astro";
import DocsSection from "../../../components/DocsSection.astro";
import DocsItem from "../../../components/DocsItem.astro";

const guides = await getCollection("guides");
---

<Layout title="Guides">
  <Breadcrumb>
    <BreadcrumbItem href="/docs/" label="Documentation" />
    <BreadcrumbItem label="Guides" />
  </Breadcrumb>

  <div class="container my-5">
    <DocsSection href="/docs/guides/" title="Guides">
      {
        guides.map((guide) => (
          <DocsItem
            href={`/docs/guides/${guide.slug}/`}
            title={guide.data.title}
          />
        ))
      }
    </DocsSection>
  </div>
</Layout>
