---
import BreadcrumbItem from "./BreadcrumbItem.astro";
---

<nav aria-label="breadcrumb" class="border-top container-fluid">
  <ol class="breadcrumb my-2">
    <BreadcrumbItem href="/" label="Startpage" />
    <slot />
  </ol>
</nav>
