---
interface Props {
  href?: string;
  label: string;
}

const { href, label } = Astro.props;
---

{
  href ? (
    <li class="breadcrumb-item">
      <a class="text-decoration-none" href={href}>{label}</a>
    </li>
  ) : (
    <li class="breadcrumb-item active" aria-current="page">
      {label}
    </li>
  )
}
