---
interface Props {
  filename: string;
  code: string;
}

const { filename, code } = Astro.props;
---

<div class="card border-0">
  <div class="card-body">
    <p class="text-center text-monospace text-muted mb-1">
      <small>{filename}</small>
    </p>
    <pre class="mb-0"><code class="javascript hljs">{code}</code></pre>
  </div>
</div>
