---
interface Props {
  href: string;
  title: string;
}

const { href, title } = Astro.props;
---

<div class="col-12 col-md-6 col-lg-4">
  <div class="card h-100">
    <div class="card-body">
      <h5 class="card-title mb-0">
        <a class="card-link stretched-link" href={href}>{title}</a>
      </h5>
    </div>
  </div>
</div>
