<footer class="bg-light py-3">
  <ul class="nav flex-column flex-sm-row">
    <li class="nav-item me-auto">
      <a
        class="nav-link"
        target="_blank"
        href="https://github.com/botfatherio/botfather"
      >
        <span class="badge rounded-pill text-bg-info text-white">
          <span>Star on GitHub</span>
          <i class="bi bi-github"></i>
        </span>
      </a>
    </li>
    <li class="nav-item"><a class="nav-link" href="/imprint/">Imprint</a></li>
    <li class="nav-item"><a class="nav-link" href="/privacy/">Privacy</a></li>
    <li class="nav-item"><a class="nav-link" href="/terms/">Terms</a></li>
  </ul>
</footer>
