---
interface Props {
  title: string;
  subtitle: string;
  description: string;
}

const { title, subtitle, description } = Astro.props;
---

<div class="py-6 bg-primary text-white">
  <div class="container">
    <div class="row align-items-center gy-3 gx-6">
      <div class="col col-lg-6">
        <h1>{title}</h1>
        <p class="lead">{subtitle}</p>
        <p>{description}</p>
        <div class="d-flex flex-wrap gap-3">
          <slot name="buttons" />
        </div>
      </div>
      <div class="col col-lg-6">
        <slot />
      </div>
    </div>
  </div>
</div>
