---
import "../styles/global.scss";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    {description && <meta name="description" content={description} />}
    <link rel="icon" type="image/png" href="/favicon-48x48.png" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Botfather" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body class="d-flex flex-column min-vh-100">
    <Navbar />
    <main role="main" class="flex-fill d-flex flex-column">
      <slot />
    </main>
    <Footer />
    <script>
      import "bootstrap/dist/js/bootstrap";
    </script>
  </body>
</html>
